{% extends "base.html" %} {% block title %}GROUP GO GIF{% endblock %} {% block
header %}GO GIF GO{% endblock %} {% block content %}
<div class="upload-form">
    <form method="post" enctype="multipart/form-data">
        <div class="file-input-container">
            <input
                type="file"
                name="file"
                id="file"
                class="file-input"
                accept=".png,.jpg,.jpeg,.gif,.webp"
                required
            />
            <label for="file" class="file-label">Picture</label>
        </div>
        <input type="submit" value="GO" class="button" />
    </form>
</div>
{% endblock %} {% block footer_button %}Home{% endblock %}
